<!DOCTYPE html>
<html lang="en">

{{> htmlhead }}

<body>
    <main id="app">
        {{> header }}
        <h5>Welcome --User name--</h5>
        {{{ body }}}

        {{> footer }}
    </main>
    {{> scripts }}
</body>
</html>